{#include template}
<form id="createForm" action="/create" method="post">
    <div class="panel-grid columns-3">
        <label for="username">Enter username:</label>
        <input type="text" id="username" name="username" value="{username ?: ''}" />

        <label for="firstName">Enter first name:</label>
        <input type="text" id="firstName" name="firstName" value="{firstName ?: ''}" />

        <label for="lastName">Enter last name:</label>
        <input type="text" id="lastName" name="lastName" value="{lastName ?: ''}" />
    </div>

    <button type="submit">Add User</button>
</form>

<a href="/greet">Greet a user!</a>
{/include}